.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    overflow: auto;
}

.transition-all::-webkit-scrollbar{
    display: none;
}
